[submodule "deps/dynoplan"]
	path = deps/dynoplan
	url = git@github.com:quimortiz/dynoplan.git
[submodule "deps/crazyflie-firmware"]
	path = deps/crazyflie-firmware
	url = git@github.com:IMRCLab/crazyflie-firmware.git